@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 1em auto;
  max-width: 40em;
  text-align: center;
  width: 88%;
}

#app {
  font-size: 2em;
}

p {
  margin-top: 0;
  padding: 0;
}

.time {
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
}
  
.fa {
  font-size: 1.25em;
  animation: rotate 4s infinite;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  75% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}
